html {
  font-family: system-ui, sans-serif;
  font-size: 1.25rem;
}

body {
  margin: 0;
  padding: 0 0;
}

svg {
  width: 900px;
  height: 550px;
  margin: 10px;

  z-index: 2;
  box-shadow: 3px 3px 20px 3px #888888;
}
