body {
  /* background: linear-gradient(180deg, #0055ff 0%, rgb(0, 153, 255) 100%); */

  padding: 0;
  margin: 0;
}

/* .background {
  width: 300px;
  background: #fff;
} */

.toggle {
  margin-left: -30px;
  margin-top: 10px;

  box-shadow: none;
  padding: 0;
  width: 100px;
  height: 35px;
}

.click {
  outline: none !important;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  /* position: absolute;
  top: 18px;
  left: 15px; */
  width: 50px;
  height: 50px;
  border-radius: 50%;

  background: transparent;
  box-shadow: 1px 1px 5px 1px #888888;
}

ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  padding: 19px;
  position: absolute;
  top: 51px;
  width: 230px;
  margin-left: -5px;
  height: 650px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

li {
  list-style: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: aliceblue;
}

.icon-placeholder {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  flex: 40px 0;
  margin-right: 20px;
}

.text-placeholder {
  border-radius: 5px;
  width: 200px;
  height: 20px;
  flex: 1;
}
